.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
  margin-top: 14vh;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
  margin-left: 35px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 40px;
  }
}
.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3b82f6;
  border-radius: 6px;
  margin-top: 13px;
  cursor: pointer;
  width: 140px;
  height: 40px;
  text-align: center;

  border: none;
  margin-left: 35px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.nav-link {
  text-decoration: none;
}
